{% extends 'superuser.html'%}

{% block 'manu'%}
  <div class="manu">  
    <ul>
        <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/user/all_booking/"><i class="fa fa-key"></i>Booking</a>
        <li><a href="/user/hotel/"><i class="fa fa-home"></i> hotel</a>
        
        <li><a href="/profile/"><i class="fa  fa-users"></i>Profile</a></li>

        
        <li><a href="/logout/"><i class="fa fa-power-off"></i>Logout</a></li>
    </ul>
  </div>
  
  {% endblock %}